<div class="row state-overview">

    <div class="col-lg-3 col-sm-6">
          <section class="panel">
              <div class="symbol blue">
                  <i class="icon-play-sign"></i>
              </div>
              <div class="value">
                  <h1><?php echo number_format($total_video,0,'.','.');?></h1>
                  <p>Videos</p>
              </div>
          </section>
      </div>
</div>