
<head>
</head>
<body>

					        <div class="pii-embeded" pii-video="9j8nr9rmuwvoKXki" pii-width=600 pii-height=400></div>
                		<script>
                		(function(d, s, id) {
                		  var js, fjs = d.getElementsByTagName(s)[0];
                		  if (d.getElementById(id)) return;
                		  js = d.createElement(s); js.id = id;
                		  js.src = "http://123.30.58.134/admin/public/app/embeded/all.js";
                		  fjs.parentNode.insertBefore(js, fjs);
                		}(document, 'script', 'pii-sdk'));</script>
				    
</body>
