/* latin-ext */
@font-face {
	font-family: 'Source Code Pro';
	font-style: normal;
	font-weight: 400;
	src: local('Source Code Pro'), local('SourceCodePro-Regular'),
		url(./fonts/mrl8jkM18OlOQN8JLgasDy2Q8seG17bfDXYR_jUsrzg.woff2)
		format('woff2');
	unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF,
		U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'Source Code Pro';
	font-style: normal;
	font-weight: 400;
	src: local('Source Code Pro'), local('SourceCodePro-Regular'),
		url(./fonts/mrl8jkM18OlOQN8JLgasDzKRFmJUU_JfdI4amS9F_UY.woff2)
		format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC,
		U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

.progress {
	display: none;
	position: absolute;
	top: 145px;
	width: 320px;
	left: 50%;
	margin-left: -160px;
	border-radius: 25px;
}

.half {
	width: 50%;
	margin-right: -3px;
	display: inline-block;
	vertical-align: top;
}

#upload-success {
	display: none;
}

.fileinput-button input {
	width: 100%;
	height: 34px;
	overflow: hidden;
	margin-top: -6px;
}

.panel-heading {
	font-family: Arial;
}

.video-upload {
	width: 100%;
	height: 300px;
	background: #CCC;
	margin-bottom: 24px;
	position: relative;
}

.viewer .checkbox-inline {
	display: inline-block;
	width: 112px;
	vertical-align: top;
	margin-top: 3px;
	margin-left: 0px;
}

.manager .embeded-wrapper {
	position: relative;
}

.embeded-fs {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 2500;
	background: rgba(0, 0, 0, 0.5);
	display: none;
}

.manager .embeded {
	width: 720px;
	height: 220px;
	resize: none;
	font-family: 'Source Code Pro';
	left: 50%;
	display: block;
	top: 50%;
	margin-top: -110px;
	position: absolute;
	margin-left: -360px;
}

.fs-player {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.4);
	z-index: 2000;
	display: none;
}

.fs-wrapper {
	position: absolute;
	top: 36px;
	left: -300px;
}

.domain-add .has-switch, .user-setting .has-switch{
	vertical-align: middle;
}

.form-control {
	color: inherit;
}

.close-btn {
	background: #6dbb4a;
	position: absolute;
	top: -40px;
	right: 0px;
	text-shadow: none;
	opacity: 1;
	width: 40px;
	height: 40px;
	color: white;
	font-size: 26px;
	text-align: center;
	cursor: pointer;
}

.close-btn:hover {
	background: #58B62E;
}

.preview .video-preview-wrapper {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 600px;
	height: 400px;
	margin-top: -200px;
	margin-left: -300px;
	background: white url('../images/loading-video.gif') center center
		no-repeat;
	padding: 3px;
}

.popup-wrapper {
	width: 500px;
	min-height: 200px;
	background: white;
	border-radius: 5px;
	margin: auto;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -250px;
	margin-top: -150px;
	border-top-right-radius: 0px;
	padding: 24px;
	box-sizing: border-box;
}

.popup-wrapper.big {
	width: 960px;
	min-height: 400px;
	margin-left: -480px;
	margin-top: -200px;
}

.middle-vertical {
	display: inline-block;
	vertical-align: middle;
	margin-right: 12px;
}

.center {
	text-align: center;
}

.align-right {
	text-align: right;
}
.edit-video .bootstrap-tagsinput{
	display: block;
}




.typeahead,
.tt-query,
.tt-hint {
	padding: 2px 9px;
	font-size: 16px;
	line-height: 30px;
	border: 1px solid #DDD;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	outline: none;
	width: 100%;
}

.typeahead {
	background-color: #fff;
}

.typeahead:focus {
  border-color: #0097cf;
}
.tt-dropdown-menu {
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}
.search-typeahead{
	margin-bottom: -2px;
}
#video-player{
	margin: 0px;
}