<div class="row edit-video">
	<div class="col-lg-6">
        <section class="panel">
			<header class="panel-heading"> Tải lên video mới </header>
			<div class="panel-body">
				<div id="upload-success"
					class="alert alert-success alert-block fade in">
					<button data-dismiss="alert" class="close close-sm" type="button">
						<i class="icon-remove"></i>
					</button>
					<h4>
						<i class="icon-ok-sign"></i> Thành công!
					</h4>
					<p>Video đang trong quá trình xử lý, xin vui lòng chờ một chút...</p>
				</div>
                <div id="video-upload" class="video-upload">
                    <?php if(isset($video)){ ?>
                        <video id="edit-video-player" controls autoplay class="video-js vjs-default-skin"
                        	preload="auto" style="width: 100%;height:300px;" poster="images/default.jpg"
                        	data-setup="{}">
                        		<source src="<?php echo $video['file_url']?>" type='rtmp/<?php echo $video['file_type']?>'>
                        </video>
                    <?php }else{ ?>
                        <div id="progress" class="progress">
    						<div class="progress-bar progress-bar-success"></div>
    					</div>
					<?php } ?>
                </div>
                <?php if(!isset($video)){ ?>
				<span class="fileinput-button">
					<div class="btn btn-success" id="shop_upload_new">Chọn Video</div> <input
					id="fileupload" type="file" name="files[]" >
				</span>
				<?php } ?>
    			</div>
		</section>
	</div>
	<div class="col-lg-6">
        <section class="panel">
            <header class="panel-heading"> Thông tin cơ bản </header>
            <div class="panel-body">
                <form role="form" method="post" id="video-form">
                    <div class="form-group">
                          <label >Tên video</label>
                          <input name="title" <?php if(isset($video)){ ?>value="<?php echo $video['title'];?>"<?php }?> type="text" class="form-control" placeholder="Nhập tên video của bạn" />
                      </div>
                    <div class="form-group" id="tagsWrapper">
                        <label>Video Tag</label>
                        <input id="tags" name="tags" class="typeahead" type="text" value="<?php if(isset($video)) echo $video['tags']; ?>" />
                    </div>
                    <div class="form-group viewer">
                        <label >Cho phép xem video</label>
                        <div>
                            <div class="btn-group">
                                <?php if(isset($video)){?>
                                    <button id="permissionUI" class="btn btn-white" type="button">
                                        <?php echo $video['level_detail']['level_name']?>
                                    </button>
                                    <input id="viewLevelUI"  type="hidden" name="view-level" value="<?php if(count($level) > 0) echo $video['video_level']; ?>" />
                                    <input type="hidden" name="video_identify" value="<?php echo $video['video_identify']?>" />
                                <?php }else{ ?>
                                    <input type="hidden" name="name" id="video_name" />
                                    <button id="permissionUI" class="btn btn-white" type="button">
                                        <?php if(count($level) > 0){ ?>
                                            <?php echo $level[0]['level_name']?>
                                        <?php } else { echo "Chọn phân quyền"; }?>
                                    </button>
                                    <input id="viewLevelUI"  type="hidden" name="view-level" value="<?php if(count($level) > 0) echo $level[0]['level_id']; ?>" />
                                <?php } ?>
                                <button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button"><span class="caret"></span></button>
                                <ul role="menu" class="dropdown-menu">
                                    <?php foreach($level as $item){ ?>
                                        <li onclick="Upload.changePermission('<?php echo $item['level_id']?>', '<?php echo $item['level_name']?>')" ><a><?php echo $item['level_name']?></a></li>
                                    <?php } ?>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <button onclick="App.saveVideo()" class="btn btn-info">Lưu lại</button>
                </form>
            </div>
        </section>
    </div>
</div>
<?php if(isset($video)){ ?>
<script type="text/javascript">
$(document).ready(function(){
	App.playVideo('edit-video-player');
})
</script>
<?php } ?>
<script type="text/javascript">
$(document).ready(function(){
	var tagsname = new Bloodhound({
		  datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
		  queryTokenizer: Bloodhound.tokenizers.whitespace,
		  prefetch: {
		    url: '<?php echo $this->url('wsv-get-tags')?>',
		    filter: function(list) {
		      return $.map(list, function(data) {
		        return { name: data }; });
		    }
		  }
		});
	tagsname.initialize();
	$('.typeahead').tagsinput({
		typeaheadjs: {
			displayKey: 'name',
			valueKey: 'name',
	        source: tagsname.ttAdapter()
	    }
	});
});
</script>
<script type="text/tmpl" id="VideoPlayerView">
    <video id="video-player" controls autoplay class="video-js vjs-default-skin"
    	preload="auto" width="<%=width%>" height="<%=height%>" poster="images/default.jpg"
    	data-setup="{}">
    		<source src="<%=data.url%>" type='rtmp/<%=data.ext%>'>
    </video>
</script>