<div class="user-level">
	<div class="col-lg-6">
		<section class="panel">
			<header class="panel-heading no-border">Cho phép play video</header>
			<table class="table table-striped table-advance table-hover">
				<thead>
					<tr>
						<th>#</th>
						<th>Domain name</th>
						<th>Status</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
				    <?php $i=0; foreach($domain as $item){ $i++; ?>
					<tr>
						<td><?php echo $i?></td>
						<td><?php echo $item['domain_name']?></td>
						<td>
						  <?php if($item['status'] == 1){ ?>
						      <span class="label label-primary">Active</span>
						  <?php }else{ ?>
						      <span class="label label-danger">Inactive</span>
						  <?php } ?>
                        </td>
                        <td>
                            <a href="<?php echo $this->url('video-domain', ['domain_id'=>$item['domain_id']])?>">
                                <button class="btn btn-primary btn-xs"><i class="icon-pencil"></i></button>
                            </a>
                            <a href="<?php echo $this->url('video-domain-delete', ['domain_id'=>$item['domain_id']])?>">
                                <button class="btn btn-danger btn-xs"><i class="icon-trash "></i></button>
                            </a>
                        </td>
					</tr>
					<?php } ?>
				</tbody>
			</table>
		</section>
	</div>
    <div class="col-lg-6 domain-add">
		<section class="panel">
            <header class="panel-heading">
                Thêm mới
            </header>
            <div class="panel-body">
                <form role="form" method="POST">
                    <?php if(isset($edit_domain)){ ?>
                        <input type="hidden" name="id" value="<?php echo $edit_domain['domain_id'] ?>" />
                    <?php } ?>
                    <div class="form-group">
                        <label>Domain</label>
                        <input name="domain" type="text" class="form-control"
                            <?php if(isset($edit_domain)){ ?>
                                value="<?php echo $edit_domain['domain_name']?>"
                            <?php } ?>
                        placeholder="Domain cho phép chơi video" />
                      </div>
                      <div class="form-group">
                          <label style="vertical-align: middle; margin-right: 12px;">Trạng thái</label>
                          <input name="status" type="checkbox" data-toggle="switch" 
                            <?php if(isset($edit_domain)){ ?>
                                <?php if($edit_domain['status'] == 1){ ?>
                                    checked=""
                                <?php } ?>
                            <?php }else{ ?>
                                    checked=""
                            <?php } ?>
                          />
                      </div>
                      <button type="submit" class="btn btn-info">Lưu lại</button>
                  </form>
              </div>
          </section>
	</div>
</div>
