<section class="manager">
    <div class="col-lg-9">
        <div class="panel">
        	<header class="panel-heading no-border"> Quản lý video</header>
        	<div class="panel-body">
                <a class="btn btn-success  btn-sm" href="<?php echo $this->url('video-edit') ?>" style="margin-right: 12px;">Thêm mới</a>
            </div>
        	<table class="table table-striped border-top">
        		<thead>
        			<tr>
        				<th>#</th>
        				<th>Tên video</th>
        				<th>Xem video</th>
        				<th>Level</th>
        				<th>Mã nhúng</th>
        				<th>Lượt xem</th>
        				<th>Action</th>
        			</tr>
        		</thead>
        		<tbody>
        		  <?php $count = 0; foreach($this->paginator as $item){ $count++; $item = get_object_vars($item); ?>
        			<tr>
        				<td><?php echo $count?></td>
        				<td><?php echo $item['title']?></td>
        				<td style="position: relative;">
        				    <button type="button" class="btn btn-primary btn-xs" onclick="App.view($(this),'<?php echo $item['identify']?>', '<?php echo $item['file_type']?>', '<?php echo $item['file_url']?>', arguments[0])">Xem ngay</button>
        				</td>
        				<td><?php echo $item['level_name'] ?></td>
        				<td class="embeded-wrapper">
        				    <button type="button" onclick="App.showEmbeded(arguments[0], $(this))" class="btn btn-success btn-xs">Mã nhúng</button>
        				    <div id="embeded<?php echo $item['video_identify']?>" class="embeded-fs">
        				        <div class="embeded">
                                    <div class="close-btn" onclick="App.hide('#embeded<?php echo $item['video_identify']?>')">x</div>
                                    <textarea class="embeded" readonly=1 onclick="arguments[0].stopPropagation()">
        <div class="pii-embeded" pii-video="<?php echo $item['video_identify']?>" pii-width=600 pii-height=400></div>
        <script>
            (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "<?php echo \DVGroup\Common\Params::getParams('embeded_server')?>app/embeded/all.js";
                fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'pii-sdk'));
        </script>
            				        </textarea>
                                </div>
        				    </div>
        				</td>
        				<td>
        				    <?php echo $item['view']?>
        				</td>
        				<td>
        				    <a href="<?php echo $this->url('video-edit', ['slug'=>$item['video_slug'], 'video_identify'=>$item['video_identify']])?>">
        				        <button class="btn btn-primary btn-xs"><i class="icon-pencil"></i></button>
        				    </a>
        				    <button onclick="VideoUtils.toTrash('<?php echo $this->url('video-to-trash') ?>', <?php echo $item['video_id']?>)" class="btn btn-danger btn-xs"><i class="icon-trash "></i></button>
        				</td>
        			</tr>
        			<?php } ?>
        		</tbody>
        	</table>
        	<?php 
        	echo $this->paginationControl(
                    $this->paginator,
                    'sliding',
                    ['template/paginator', 'Album'],
                    [
                        'route' => 'manage-video',
                        'param'=>[
                            'tag_slug'=>$tag_slug
                        ]
                    ]
            );
        	?>
    	</div>
	</div>
	<div class="col-lg-3">
       <?php echo $this->tagCloud()->render(1); ?>
	</div>
</section>

<script type="text/javascript">
var parseData = {
	video: JSON.parse('<?php echo json_encode($data)?>')
}
</script>

<script type="text/tmpl" id="fastView">
    <div id="previewUI" class="embeded-fs preview" style="display: block">
        <div class="video-preview-wrapper">
            <div class="close-btn" onclick="App.hidePreview()">x</div>
            <div id="video-player" class="video-fast-view"></div>
	    </video>
        </div>
    </div>
</script>
<!-- 
<video id="previewvideo" controls autoplay class="video-js vjs-default-skin"
	    	preload="auto" width="600" height="400" poster="http://123.30.58.134/admin/public/images/default.jpg"
	    	data-setup="{}">
	    		<source src="<%=file_url%>" type='rtmp/<%=file_type%>'>
 -->