<div class="user-level">
    <div class="col-lg-6">
        <div class="panel">
            <header class="panel-heading no-border">Cài đặt</header>
            <div class="panel-body">
                <form role="form" method="POST">
                      <div class="form-group user-setting">
                          <label class="middle-vertical">Bật chế độ kiểm tra</label>
                          <input class="middle-vertical" name="enable_user_check" type="checkbox" data-toggle="switch" 
                            <?php if(isset($user_check)){ ?>
                                <?php if(intval($user_check) == 1){ ?>
                                    checked=""
                                <?php } ?>
                            <?php } ?>
                          />
                      </div>
                      <button type="submit" class="btn btn-info">Lưu lại</button>
                  </form>
              </div>
        </div>
    </div>
    <div class="col-lg-6">
    	<section class="panel">
    		<header class="panel-heading no-border">Quản lý phân bậc người dùng</header>
    		<div class="panel-body">
                <a onclick="UserLevel.addNew()" class="btn btn-success  btn-sm" href="javascript:;" style="margin-right: 12px;">Add new</a>
                <div class="btn-group">
                    <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle btn-sm" type="button">Order by <span class="caret"></span></button>
                    <ul role="menu" class="dropdown-menu">
                        <li><a href="#">Level name</a></li>
                        <li><a href="#">Level order</a></li>
                        <li><a href="#">Video Total</a></li>
                        <li><a href="#">Status</a></li>
                    </ul>
                </div>
            </div>
    		<table class="table table-striped table-advance table-hover">
    			<thead>
    				<tr>
    					<th>#</th>
    					<th>Level Name</th>
    					<th>Level order</th>
    					<th>Video Total</th>
    					<th>Status</th>
    					<th>Action</th>
    				</tr>
    			</thead>
    			<tbody>
    			    <?php $i=0; foreach($level as $item){ $i++; ?>
    				<tr>
                        <td><?php echo $i?></td>
    					<td><?php echo $item['level_name']?></td>
    					<td><?php echo $item['level_order']?></td>
    					<td><?php echo $item['video_count']?></td>
    					<td>
    					   <?php if(intval($item['level_active']) == 1) { ?>
    					       <span class="label label-success label-mini">active</span>
    					   <?php }else{ ?>
    					       <span class="label label-danger label-mini">inactive</span>
    					   <?php } ?>
    					</td>
    					<td>
                            <button onclick="UserLevel.edit(<?php echo $item['level_id']?>)" class="btn btn-primary btn-xs"><i class="icon-pencil"></i></button>
                            <a href="<?php echo $this->url('user-level-delete', ['level_id'=>$item['level_id']]) ?>">
                                <button class="btn btn-danger btn-xs"><i class="icon-trash "></i></button>
                            </a>
    					</td>
    				</tr>
    				<?php } ?>
    			</tbody>
    	</section>
	</div>
</div>
<script type="text/javascript">
var level = JSON.parse('<?php echo json_encode($level)?>');
var levelSaveUrl = '<?php echo $this->url('user-level-save') ?>';
</script>
<script type="text/tmpl" id="levelEditView">
    <div id="levelEditUI" class="embeded-fs preview" style="display:block">
        <div class="popup-wrapper">
            <div class="close-btn" onclick="UserLevel.closeEdit()">x</div>
            <div>
                <div id="levelEditUI-Content">
                    <div id="levelEditUI-Error" class="alert alert-block alert-danger fade in" style="display: none">
                        <strong>Có lỗi xảy ra.  </strong><span id="levelEditUI-ErrorContent"></span>
                    </div>
                    <input id="levelEditUI-Id" type="hidden" value="<%=level_id%>" />
                    <div class="form-group">
                        <label>Level Name</label>
                        <input id="levelEditUI-Name" type="text" class="form-control" placeholder="Enter level name" value="<%=level_name%>" />
                    </div>
                    <div class="form-group">
                        <label>Level Order</label>
                        <input id="levelEditUI-Order" type="number" class="form-control" placeholder="Enter level order" value="<%=level_order%>" />
                    </div>
                    <div class="form-group">
                        <label class="middle-vertical">Is Active</label>
                        <div class="middle-vertical">
                            <input id="levelEditUI-Active" name="status" type="checkbox" data-toggle="switch" <% if(level_active == 1){ %> checked="" <% }%> >
                        </div>
                    </div>
                    <div class="align-right">
                        <button onclick="UserLevel.closeEdit()" class="btn btn-danger" style="margin-right: 9px">Cancel</button>
                        <button onclick="UserLevel.saveEdit()" class="btn btn-success">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>