<?php echo $this->doctype(); ?>

<html lang="en">
<head>
    <?php echo $this->partial('layout/head'); ?>
</head>
    <body class="login-body">
        <?php echo $this->content; ?>
    </body>
</html>
