<?php echo $this->doctype(); ?>

<html lang="en">
<head>
    <?php echo $this->partial('layout/head'); ?>
    <base href="/"></base>
</head>
<body>
        <?php echo $this->getHeader()->render()?>
        <?php echo $this->getSidebar()->render()?>
        
        <section id="main-content">
    		<section class=" wrapper">
                <?php echo $this->content; ?>
            </section>
        </section>
        
        <?php echo $this->inlineScript()?>
        <?php echo $this->partial('layout/partial/plugin.phtml'); ?>
    </body>
</html>
