<div class="panel">
	<div class="panel-body">
		<header class="panel-heading no-border"> Danh mục</header>
		<form id="form">
    		<input name="q" type="text" class="form-control search-typeahead" data-provide="typeahead"
    			placeholder="Search" onkeydown="doSearch(arguments[0], $(this))">
		</form>
		<table class="table table-hover">
			<tbody>
				<tr>
					<td>
				       <a href="<?php echo $this->url($url) ?>">Tất cả</a>
				   </td>
				</tr>
            <?php foreach($statistic as $item){ ?>
				<tr>
					<td><a
						href="<?php echo $this->url($url, ['tag_slug'=>$item['tag_slug']]) ?>"><?php echo $item['tag_name']?> (<?php echo $item['total']?>)</a>
					</td>
				</tr>
			<?php } ?>
			</tbody>
		</table>
	</div>
</div>
<script>
$(document).ready(function(){
	var tags = JSON.parse('<?php echo json_encode($tag)?>'); 
    var substringMatcher = function(strs) {
        return function findMatches(q, cb) {
            var matches, substrRegex;
            matches = [];
		    substrRegex = new RegExp(q, 'i');
		    $.each(strs, function(i, str) {
		        if (substrRegex.test(str)) {
		            matches.push({ value: str });
	            }
	        });
		    cb(matches);
	    };
    };
	$('.search-typeahead').typeahead({
	    hint: true,
		highlight: true,
		minLength: 1
	}, {
	    name: 'states',
	    displayKey: 'value',
	    source: substringMatcher(tags)
    });
});
function doSearch(e, obj){
	if(e.keyCode == 13){
		$('#form').submit();
		$.ajax({
			url: '<?php echo $this->url('wsv-search-tag')?>',
			data: {
				tag: obj.val()
			}
		})
	}
}
</script>