<?php if ($this->pageCount): ?>
<?php $param = $this->param; ?>

<div class="text-center">
	<ul class="pagination">
            <?php if (isset($this->previous)): ?>
                <?php $param['page'] = $this->previous; ?>
                <li><a href="<?php echo $this->url($this->route, $param); ?>" > Previous </a></li>
            <?php else: ?>
            <?php endif; ?>
            <!-- Numbered page links -->
            <?php foreach ($this->pagesInRange as $page): ?>
                <?php if ($page != $this->current): ?>
                    <li><a
                    <?php $param['page'] = $page; ?>
			href="<?php echo $this->url($this->route, $param);?>">
                            <?php echo $page; ?>
                        </a></li>
                <?php else: ?>
                    <li class="active"><a><?php echo $page; ?></a>
		</li>
                <?php endif; ?>
            <?php endforeach; ?>

            <!-- Next page link -->
            <?php if (isset($this->next)): ?>
                <li><a
                <?php $param['page'] = $this->next; ?>
			href="<?php echo $this->url($this->route, $param); ?>">
				Next </a></li>
            <?php else: ?>
            <?php endif; ?>
        </ul>
</div>
<?php endif; ?>
