<div class="plugin">
    <script type="text/tmpl" id="videoEditView">
        <div class="embeded-fs" style="display: block" id="videoEdit">
            <div class="popup-wrapper big">
                <div class="close-btn" onclick="VideoUtils.hidePreview()">x</div>
                <div class="half">
                    <video id="videoEdit-Video" controls autoplay class="video-js vjs-default-skin"
	    	preload="auto" width="480" height="320" poster="http://123.30.58.134/admin/public/images/default.jpg"
	    	data-setup="{}">
	    		<source src="<%=data.file_url%>" type='rtmp/<%=data.file_type%>'>
                </div>
            </div>
        </div>
    </script>
</div>