<form class="form-signin" method="post">
	<h2 class="form-signin-heading">Đăng nhập</h2>
	<div class="login-wrap">
		<input name="email" type="text" class="form-control" placeholder="Email của bạn"
			autofocus>
		<input name="password" type="password" class="form-control"
			placeholder="Mật khẩu"> <label class="checkbox">
		</label>
		<button class="btn btn-lg btn-login btn-block" type="submit">Đăng nhập</button>
	</div>
</form>