<?php 
    $auth = new \DVGroup\Auth\AuthUser();
    $user = $auth->getUser();
?>

<header class="header white-bg">
	<div class="sidebar-toggle-box">
		<div data-original-title="Toggle Navigation" data-placement="right"
			class="icon-reorder tooltips"></div>
	</div>
	<!--logo start-->
	<a href="#" class="logo">ABC<span>.com</span></a>
	<!--logo end-->
	<div class="top-nav ">
		<!--search & user info start-->
		<ul class="nav pull-right top-menu">
			<!-- user login dropdown start-->
			<li class="dropdown"><a data-toggle="dropdown"
				class="dropdown-toggle" href="#"> <img alt=""
					src="images/default-avatar.png" width=20> <span class="username"><?php if(isset($user)) echo $user->fullname?></span>
					<b class="caret"></b>
			</a>
				<ul class="dropdown-menu extended logout">
					<div class="log-arrow-up"></div>
					<li><a href="#"><i class=" icon-suitcase"></i>Profile</a></li>
					<li><a href="#"><i class="icon-cog"></i> Settings</a></li>
					<li><a href="#"><i class="icon-bell-alt"></i> Notification</a></li>
					<li><a href="<?php echo $this->url('logout')?>"><i class="icon-key"></i> Log Out</a></li>
				</ul></li>
			<!-- user login dropdown end -->
		</ul>
		<!--search & user info end-->
	</div>
</header>