<?php 
    $sm = \DVGroup\Operation\ServiceLocatorFactory::getInstance();
    $rm = $sm->get('Application')->getMvcEvent()->getRouteMatch();
    $r_name = $rm->getMatchedRouteName();
?>

<aside>
	<div id="sidebar" class="nav-collapse " tabindex="5000"
		style="overflow: hidden; outline: none;">
		<ul class="sidebar-menu">
            <?php foreach($config['item'] as $item){ ?>
                <li class="<?php if(strpos($item['child-url'], $r_name) !== FALSE) echo 'active'; ?>" >
                    <a class="" href="<?php echo $this->url($item['url']) ?>">
                        <i class="<?php echo $item['icon']?>"></i>
                        <span><?php echo $item['name']?></span>
                    </a>
                    <?php if($item['child']){ ?>
                        <ul class="sub">
                        <?php foreach($item['child']['item'] as $obj){ ?>
                            <li class="<?php if($r_name == $obj['url']) echo 'active'; ?>">
                                <a href="<?php echo $this->url($obj['url'])?>" >
                                    <?php echo $obj['name'] ?>
                                </a>
                            </li>
                        <?php } ?>
                        </ul>          
                    <?php } ?>
                </li>
            <?php } ?>
		</ul>
	</div>
</aside>
